.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.classpath
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
.netrwhist
*~
tags

# intellij idea project files
*.iml
.idea/

# maven target directory
target/

# hide files #
*.DS_Store
*.html
*.log
download.sh
Docker.dmg
ShadowsocksX-NG.app
